h1{
    text-align: center;
}
#main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

label{
    display: inline-block;
    width: 250px;
    margin-top: 10px;
    font-size: 20px;
}
.true{
    border: mediumseagreen 3px solid;
}
.false{
    border: red 3px solid;
}
button{
    width: 100px;
    height: 40px;
    margin-top: 10px;
    color: red;
    background-color: gold;
}